<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>微语</title>
	<meta name="viewport" content="width = device-width, user-scalable = no, initial-scale = 1">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/weixin/css/style-top.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/weixin/css/btn-style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/weixin/css/sign-in-style.css">

</head>
<body>
	<div class="container">
		<div class="top">
			<div class="left"><a href=""><img src="__PUBLIC__/weixin/images/back.png" id="backIcon"></a></div> <!--返回按钮-->
			<div class="title">查看签到</div>
			<div class="right"></div>			
		</div>
		<div class="hold"></div>
		<volist name="absencestudata" id="value">
         <div class="box theAbsenceSignArea">
		
		<table cellpadding="0" cellspacing="0" border="0" width="90%">
			<tr>
				<td class="name">学号</td>
				<td id="studentID" colspan="2">
					{$value.s_id}
				</td>
				<td rowspan="2" id="signStatus" class="case">
					<img src="__PUBLIC__/weixin/images/delete.png">
				</td>
			</tr>
			<tr>
				<td class="name case">姓名</td>
				<td id="studentName" class="case">
					{$value.s_name}
				</td>
				
			</tr>
		</table>
	</div>   
		</volist>
<volist name="checkinstudata" id="value">
	<div class="box theOldSignArea">
		<div id="SignDate">
			<b>{$value.time|date='Y-m-d H:i',###}</b>
		</div>
		<table cellpadding="0" cellspacing="0" border="0" width="90%">
			<tr>
				<td class="name">学号</td>
				<td id="studentID" colspan="2">
					{$value.s_id}
				</td>
				<td rowspan="2" id="signStatus" class="case">
					<img src="__PUBLIC__/weixin/images/ok.png">
				</td>
			</tr>
			<tr>
				<td class="name case">姓名</td>
				<td id="studentName" class="case">
					{$value.s_name}
				</td>
				
			</tr>
		</table>
	</div>
	</volist>
	<hr>
	<form action="?c=Wxteacher&a=confirm&c_id={$c_id}&nowweek={$nowweek}" method="post">
	<volist name="notcheckinstudata" id="value">
	<div class="box theNowSignArea">
		<div id="SignDate">
			<b>{$value.time|date='Y-m-d H:i',###}</b>
		</div>
		<table cellpadding="0" cellspacing="0" border="0" width="90%">
			<tr>
				<td class="name">学号</td>
				<td id="studentID">
					{$value.s_id}
				</td>
			</tr>
			<tr>
				<td class="name">姓名</td>
				<td id="studentName" width="100%">
					{$value.s_name}
				</td>
			</tr>
			<tr>
				<td id="picID" class="name">照片</td>
				<td id="pic">
					<img src="{$value.src}">
				</td>
			</tr>
			<div id="theCheckArea">
				<tr>
					<td colspan="2" class="box1">
						<input type="checkbox" name="checkSign-in[]" id="checkBtn" value="{$value.s_id}">
					</td>
				</tr>
			</div>
			
		</table>
		<!-- <hr> -->
	</div>
	</volist>
	<div class="theSubmitArea">
		<input type="submit" class="btn btn-primary" name="bindBtn" value="提交">
	</div>
	</form>
		
	</div>
</body>
</html>