.dangdetail{
    background: #fff;
    padding: 0 15px;
    overflow: hidden;

}

.dt-block-row{
    line-height:30px;

}

.font-mid{
    font-size:14px;
}

.bold{
    font-weight: bold;
}

.font-big{
    font-size:16px;
    font-weight: bold;
}