body {
	margin: 0;
	background-color: rgba(255, 193, 7, 0.72);
}
.top {
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #fff;
	justify-content: space-between;
	align-items: flex-end;
}
.hold2 {
	height: 150px;
}
#title {
	color: #FFC107;
	font-size: 25px;
	margin-left: 45px;
	margin-bottom: 40px;
	font-family: "Microsoft YaHei";
}
#topImg {
	height: 100%;
	width: 40%;
	align-content: flex-end;
}
.theBindArea {
	text-align: center;
}
input {
	padding: 0;
	border: none;
	background-color: rgba(255, 255, 255, 0.32);
	height: 40px;
	width: 270px;
	margin-top: 20px;
	border-radius: 5px;
	vertical-align:middle
}
input::-webkit-input-placeholder {
	color: #fff;
	font-size: 10px;
	text-align: center;
}
input text {
	text-align: center;
}
p {
	margin: 0;
}
.school {
	height: 40px;
	width: 270px;
	background-color: rgba(255, 255, 255, 0.32);
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 20px;
}
select {
	height: 40px;
	width: 30%;
	border: none;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.8);
	font-size: 10px;
	/*text-align: center;*/
}
.select {
	height: 15px;
	width: 15px;
	font-size: 16px;
	margin: 0;
}
.pCheck {
	justify-content: center;
	align-items: flex-end;
}
.check {
	width: 145px;
}
#checkImg {
	height: 40px;
	width: 120px;
	margin-left: 0;
	border-radius: 5px;

}
.radio {
	display: block;
	color: white;
	font-weight: lighter;
	margin-top: 20px;
}
.btn-primary {
	background-color: rgb(80, 130, 222);
	width: 85%;
	border-radius: 20px; 
}