.btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.55555556;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
}
.btn-primary {
	width: 100%;
	border: none;
	background-color: #f4b805;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	outline: none;
  outline:0px; -webkit-appearance:none; 
}
.btn-primary:not(.weui-btn_disabled):visited {
  	color: #FFFFFF;
}
.btn-primary:not(.weui-btn_disabled):active {
 	color: rgba(255, 255, 255, 0.6);
  	background-color: #f4b805;
}