/*
* @Author: Marte
* @Date:   2017-04-27 23:30:49
* @Last Modified by:   Marte
* @Last Modified time: 2017-04-28 17:01:34
*/
#container_2{
    position: relative;
    text-align:center;
    overflow:scroll;
}
#container_2 img{
    width: 20px;
    height: 20px;
    margin-top:5px;
    margin-left: 5px;
}
#title{
    width:98%;
    background:#FFFFFF;
    margin:0 auto;
    margin-top:15px;
    border-collapse:collapse;
}
#title tr td:nth-child(1){
    border-bottom: 1px dashed #FFC107;
    width:25px;
    height:40px;
    padding:0px;
}
#title tr td:nth-child(2){
    border-bottom: 1px dashed #FFC107;
    height:40px;
    padding:0px;
}
#title input{
    border:none;
    width:60%;
    height:100%;
    font-size:15px;
}
#title span {
    margin-left: -30px;
}
.ClassTable input{
    border:none;
    width:100%;
    height:100%;
    font-size:15px;
}
.ClassTable{
    width:98%;
    border-collapse:collapse;
    background:#FFFFFF;
    margin:20px auto;

}
.ClassTable td{
    border: 1px dashed #FFC107;
    height:40px;
    text-align: left;

}
.tr_1 td:nth-child(1){
    border-bottom: none;
    font-size:16px;
    width:10%;
    text-align: center;
}
.tr_1 td:nth-child(2){
    border-right: none;
}
.tr_1 td:nth-child(3){
    border-left: none;
}
.tr_2 td:nth-child(1){
    border-right: none;
}
.tr_2 td:nth-child(2){
    border-left: none;
}
.tr_3 td:nth-child(1){
    border-top: none;
    width:10%;
}
.tr_3 td:nth-child(2){
    border-right: none;
}
.tr_3 td:nth-child(3){
    border-left: none;
}
.tr_3 input {
    width: 150px;
}

#submit_1{
    width:100%;
}
.addcoursetime {
    width: 100%;
}
select {
    height: 30px;
    /*border: 1px dashed #FFC107;*/
    border: none;
    /*border-bottom: 2px dashed #FFC107;*/
}
.ClassTable span {
    margin-left: 10px;
}
