.box {
	display: box; 
	display: -webkit-box;
	display: flex;
}
.top {
	height: 2.8rem;
	line-height: 2.8rem;
	text-align: center;
	align-items: center;
	background-color: #FFC107;
	flex-direction: row;
	justify-content: flex-start;	
}
.teacherName {
	margin-left: 0px;
}
.title {
	text-align: center;
}
.left {

}
.back {
	text-align: left;
}
.back img {
	margin-left: 0.5rem;
}
.theAddArea {
	flex-direction: column;
	flex-wrap: wrap;

}