body{
    font-size: 18px;
    background-color: #e8e5e5;
    margin: 0;
}
.top {
	height: 50px;
	width: 100%;
	line-height: 50px;
	text-align: center;
	align-items: center;
	background-color: #FFC107;
	color: white;
	font-weight: lighter;
}
.theBindArea {
	justify-content: space-between;
	background-color: white;
	margin-top: 5px;
	border-bottom: 1px solid #ddd;
}
/*.gap {
	height: 30px;
	background-color: #e8e5e5;
	border-bottom: 1px solid #ddd;
}*/
#userName {
	padding-top: 5px;
}
.normal {
	width: 120px;
	border: none;
	outline: none;
	border-bottom: 1px dashed #FFC107;
	margin-top: 8px;
	height: 30px;
	font-size: 16px;
}
select {
	margin-top: 10px;
	border: 1px dashed #FFC107;
	height: 25px;
	font-size: 16px;
}
p {
	margin: 15px;
}
.button {
	padding: 0 15px;
}
.radio {
	font-size: 16px;
	margin-left: 30px;
}
input::-webkit-input-placeholder {
	color: rgb(221, 218, 218);
	font-size: 18px;
}
hr {
	position: relative;
	left: 10px;
}
img {
	width:45%;
	height:35px;
	margin-left: 30px;
}
.p:after {
	display: block;
	position: absolute;
	content: " ";
	left: 20px;
	right: auto;
	top: auto;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

